body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.container{
  perspective: 250px;
  width: 300px;
  height: 150px;
  position: relative;
}

.tarjeta{
  width: 90px;
  height: 120px;
  background-color: #442222;
  font-size: 40px;
  position: absolute;
  top: 35px;
  left: 125px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  animation: Carrusel 10s linear infinite;
}

@keyframes Carrusel
{
  from{
    transform: rotateY(360deg) translateZ(100px);
    z-index: 10;
    opacity: 0.9;
  }
  50%{
    z-index: -10;
  }

  to{
    transform: rotateX(0deg) translateZ(100px) rotateX(0deg);
    z-index: 10;
  }

}


#all_for_one{
  background-image: url(img/all_for_one.webp);
  background-size: cover;
}

#all_for_one:hover{
  box-shadow: 0px 0px 10px yellow ;
}


#shigaraki{
  background-image: url(img/shigaraki.png);
  background-size: cover;
  animation-delay: -1s;
}

#shigaraki:hover{
  box-shadow: 0px 0px 10px rgb(225, 0, 255) ;
}

#all_might{
  background-image: url(img/all_might.jpg);
  background-size: cover;
  animation-delay: -2s;
}

#all_might:hover{
  box-shadow: 0px 0px 10px rgb(0, 102, 255) ;
}


#lemillion{
  background-image: url(img/lemillion.jpg);
  background-size: cover;
  animation-delay: -3s;
}

#lemillion:hover{
  box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
}


#Red_Riot{
  background-image: url(img/Red_Riot.jpeg);
  background-size: cover;
  animation-delay: -4s;
}


#Red_Riot:hover{
  box-shadow: 0px 0px 10px rgb(255, 0, 0) ;
}

#todoroki{
  background-image: url(img/Todoroki.jpg);
  background-size: cover;
  animation-delay: -5s;
}

#todoroki:hover{
  box-shadow: 0px 0px 10px rgb(255, 166, 0) ;
}

#deku{
  background-image: url(img/Deku.jpg);
  background-size: cover;
  animation-delay: -6s;
}

#deku:hover{
  box-shadow: 0px 0px 10px rgb(0, 255, 128) ;
}

#bakugo{
  background-image: url("BAKUGO");
  background-size: cover;
  animation-delay: -7s;
}

#bakugo:hover{
  box-shadow: 0px 0px 10px rgb(255, 0, 0) ;
}

.tarjeta h3{
  color: white;
  font-size: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 70px;
  background-color: #1B0B5C;
}
